
<div class="exit">
  <a href="/dashboard">
    <i class="fa-solid fa-right-from-bracket"></i>
  </a>
</div>
<div class="containerx">
  <div class="session">
    <div class="form-container">
      <form class="log-in" (submit)="register()" netlify>
        <h3>Cadastre usuário</h3>
        <div class="row">
          <div class="col">
            <div class="floating-label">
              <input placeholder="Usuário" type="text" id="userName" [(ngModel)]="userName"
                [ngModelOptions]="{standalone: true}" required>
              <label for="userName">Usuário:</label>
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 
                  48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                </svg>
              </div>
            </div>
            <div class="floating-label">
              <input placeholder="Email" type="email" id="email" [(ngModel)]="email"
                [ngModelOptions]="{standalone: true}" required>
              <label for="email">Email:</label>
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path
                    d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 
                  328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z" />
                </svg>
              </div>
            </div>
            <div class="floating-label">
              <input placeholder="Telefone" type="text" id="phone" [(ngModel)]="phone"
                [ngModelOptions]="{standalone: true}" required>
              <label for="phone">Usuário:</label>
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path
                    d="M280 0C408.1 0 512 103.9 512 232c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-101.6-82.4-184-184-184c-13.3 0-24-10.7-24-24s10.7-24 24-24zm8 192a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm-32-72c0-13.3
                   10.7-24 24-24c75.1 0 136 60.9 136 136c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-48.6-39.4-88-88-88c-13.3 0-24-10.7-24-24zM117.5 1.4c19.4-5.3 39.7 4.6 47.4 23.2l40 96c6.8 16.3 2.1 35.2-11.6 46.3L144 
                   207.3c33.3 70.4 90.3 127.4 160.7 160.7L345 318.7c11.2-13.7 30-18.4 46.3-11.6l96 40c18.6 7.7 28.5 28 23.2 47.4l-24 88C481.8 499.9 466 512 448 512C200.6 512 0 311.4 0 64C0 46 12.1 30.2 29.5 25.4l88-24z" />
                </svg>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="floating-label">
              <input placeholder="Cargo" type="text" id="profession" [(ngModel)]="profession"
                [ngModelOptions]="{standalone: true}" required>
              <label for="profession">Usuário:</label>
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M96 128a128 128 0 1 0 256 0A128 128 0 1 0 96 128zm94.5 200.2l18.6 31L175.8 483.1l-36-146.9c-2-8.1-9.8-13.4-17.9-11.3C51.9 342.4 0 405.8 0 481.3c0 17 13.8 30.7 30.7 30.7H162.5c0 0 0 0 .1 0H168 280h5.5c0 
                  0 0 0 .1 0H417.3c17 0 30.7-13.8 30.7-30.7c0-75.5-51.9-138.9-121.9-156.4c-8.1-2-15.9 3.3-17.9 11.3l-36 146.9L238.9 359.2l18.6-31c6.4-10.7-1.3-24.2-13.7-24.2H224 204.3c-12.4 0-20.1 13.6-13.7 24.2z" />
                </svg>
              </div>
            </div>
            <div class="floating-label">
              <input placeholder="Senha" type="password" id="password" [(ngModel)]="password"
                [ngModelOptions]="{standalone: true}" required>
              <label for="password">Senha:</label>
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z" />
                </svg>
              </div>
            </div>
            <div class="floating-label">
              <input placeholder="Confirme Senha" type="password" id="passwordConfirmation"
                [(ngModel)]="passwordConfirmation" [ngModelOptions]="{standalone: true}" required>
              <label for="passwordConfirmation">Senha:</label>
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="upload-image">
          <label for="inputFile" class="custom-file-upload">
            Escolher imagem
          </label>
          <input type="file" id="inputFile" (change)="onFileSelected($event)" accept="image/*">
          <div *ngIf="shouldShowContainer()" class="image-container">
            <p>{{ imageName }}</p>
            <i class="fa-regular fa-trash-can" (click)="deleteImage()"></i>
          </div>
        </div>
        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
</div>