<div class="top-menu">
    <div class="logo">
        <img src="/assets/logoalento1.png" alt="Logo Grupo Alento">
    </div>
    <div>
        <ul class="menu-list">
            <li *ngIf="isAdmin">
                <a href="/cadastro-usuario">
                    <i class="fas fa-user-plus"></i><span>Novo Usuário</span>
                </a>
            </li>
            <li *ngIf="isAdmin">
                <a href="/panel-user">
                    <i class="fa-solid fa-people-group"></i><span>Painel de usuários</span>
                </a>
            </li>
            <li>
                <div>
                    <!-- Exibindo a foto do usuário e saudação -->
                    <img [src]="fotoBase64" alt="User Photo">
                    <span>Olá {{ userName }}!</span>
                </div>
            </li>
            <li>
                <span class="logout-button" (click)="logout()">
                    <i class="fa-solid fa-right-from-bracket"></i><span>Sair</span>
                </span>
            </li>
        </ul>
    </div>
</div>