<div class="containerx">
  <div class="top-menu">
    <div class="logo">
      <img src="/assets/logoGrupoAlento_.png" alt="Logo Grupo Alento">
    </div>
    <div>
      <ul class="menu-list">
        <li *ngIf="isAdmin">
          <a href="/cadastro-usuario">
            <i class="fas fa-user-plus"></i><span>Novo Usuário</span>
          </a>
        </li>
        <li *ngIf="isAdmin">
          <a href="/panel-user">
            <i class="fa-solid fa-people-group"></i><span>Painel de usuários</span>
          </a>
        </li>
        <li>
          <div>
            <img [src]="fotoBase64" alt="User Photo">
            <span>Olá {{ userName ? userName : 'Usuário' }}!</span>
          </div>
        </li>
        <li>
          <a href="#" (click)="logout()">
            <i class="fa-solid fa-right-from-bracket"></i><span>Sair</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="dashboard-container">
    <div class="dashboard">
      <div class="card">
        <div class="dashboard-item"
          (click)="redirectToPowerBi('https://app.powerbi.com/view?r=eyJrIjoiZDE4ODI3OTctNWViYy00Nzc1LTk2NmYtMWYzMTY4M2QyOWNlIiwidCI6ImY5ZGI5NTk3LTYyNDktNGQ4Ny1iMzFhLWExYmUxNzQ3YWZkMiJ9')">
          <img class="img-icon" src="/assets/newStore.png" alt="Acompanhamento Lojas Novas">
        </div>
        <span class="card-title">Acompanhamento<br>Lojas Novas</span>
      </div>
      <div class="card">
        <div class="dashboard-item" (click)="redirectToPowerBi('https://bit.ly/3xg7Ezx')">
          <img class="img-icon" src="/assets/resumoExecutivo.png" alt="Resumo Finanças">
        </div>
        <span class="card-title">Painel<br>Alento</span>
      </div>
      <div class="card">
        <div class="dashboard-item"
          (click)="redirectToPowerBi('https://app.powerbi.com/view?r=eyJrIjoiOGQxMDA1NjktZWYwYy00MjAxLTg5ODEtYzYxYjMzYTNkYmI3IiwidCI6ImY5ZGI5NTk3LTYyNDktNGQ4Ny1iMzFhLWExYmUxNzQ3YWZkMiJ9')">
          <img class="img-icon" src="/assets/ifood.png" alt="IFOOD">
        </div>
        <span class="card-title">Ifood</span>
      </div>
      <div class="card">
        <div class="dashboard-item"
          (click)="redirectToPowerBi('https://app.powerbi.com/view?r=eyJrIjoiODUyNTc3OGYtMjU2YS00NTA5LTk4ZDUtNzNmMDA0NTdkZmQxIiwidCI6ImY5ZGI5NTk3LTYyNDktNGQ4Ny1iMzFhLWExYmUxNzQ3YWZkMiJ9')">
          <img class="img-icon" src="/assets/gente_gestao.png" alt="Gente e Gestão">
        </div>
        <span class="card-title">Gente & Gestão</span>
      </div>
      <div class="card">
        <div class="dashboard-item"
          (click)="redirectToPowerBi('https://app.powerbi.com/view?r=eyJrIjoiYzhmNWRjZDItMWI2YS00YzZkLWFkNjEtMmU4MWM2OTlkODg3IiwidCI6ImY5ZGI5NTk3LTYyNDktNGQ4Ny1iMzFhLWExYmUxNzQ3YWZkMiJ9')">
          <img class="img-icon" src="/assets/marketing.png" alt="Marketing">
        </div>
        <span class="card-title">Marketing</span>
      </div>
      <div class="card">
        <div class="dashboard-item"
          (click)="redirectToPowerBi('https://x.gd/HWgbD')">
          <img class="img-icon" src="/assets/resumo_executivo.png" alt="Marketing">
        </div>
        <span class="card-title">Resumo Executivo</span>
      </div>
    </div>
  </div>
</div>