<div class="container-fluid">
  <!-- Top Menu -->
  <div class="row">
    <div class="col">
      <app-top-menu></app-top-menu>
    </div>
  </div>

  <!-- Conteúdo principal da Dashboard -->
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
      <app-side-bar [selectedCategory]="selectedCategory" (categorySelected)="selectCategory($event)"></app-side-bar>
    </div>

    <!-- Conteúdo Principal -->
    <div class="col-md-6">
      <ng-container *ngIf="selectedCategory === 'B.I.'">
        <app-links-bi [selectedCategory]="selectedCategory" [powerBILinks]="filteredPowerBILinks"
                      (linkClicked)="onLinkClicked($event)">
        </app-links-bi>
      </ng-container>
      
      <ng-container *ngIf="selectedCategory === 'Emails'">
        <app-web-mail [selectedCategory]="selectedCategory" [powerBILinks]="filteredPowerBILinks"
                      (linkClicked)="onLinkClicked($event)">
        </app-web-mail>
      </ng-container>

      <ng-container *ngIf="selectedCategory === 'Degust One'">
        <app-degust-one [selectedCategory]="selectedCategory" [powerBILinks]="filteredPowerBILinks"
                        (linkClicked)="onLinkClicked($event)">
        </app-degust-one>
      </ng-container>

      <ng-container *ngIf="selectedCategory === 'Menuboard Posts'">
        <app-menuboard-posts [selectedCategory]="selectedCategory" [powerBILinks]="filteredPowerBILinks"
                        (linkClicked)="onLinkClicked($event)">
        </app-menuboard-posts>
      </ng-container>

      <div *ngIf="showIframe" class="col-md-6 iframe">
        <iframe title="KPI ATUALIZACAO" width="1000" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiYWQwMTZlMTMtYjdkNS00ZjI4LWEwNWQtNDU3ZjhkZDA2YWUwIiwidCI6ImY5ZGI5NTk3LTYyNDktNGQ4Ny1iMzFhLWExYmUxNzQ3YWZkMiJ9" frameborder="0" allowFullScreen="true"></iframe>
      </div>
      
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
